.icon {
    display: block;
    width: 90px;
    height: 90px;
    float: left;
    padding: 10px 0 10px 0;
}

#demo {
    position: relative;
    float: right;
    width: 100%;
}

#selector {
    position:relative;
    float: left;
    width: 300px;

}

.imgContainer{
    position: relative;
    float: left;
    width: 150px;
    text-align: center;
}

.folder {
    clear:both;

}

.dlButton{
    width: 15px;
    heigth: 15px;

}

h1{
    background: #7c9192;
    font-family: Arial,Verdana;


}