.icon {
    display: block;
    width: 90px;
    height: 90px;
    float: left;
    padding: 10px 0 10px 0;
}

#demo {
    position: relative;
    float: right;
    width: 450px;
}

#selector {
    position:relative;
    float: left;
    width: 300px;

}

.imgContainer{
    position: relative;
    float: left;
    width: 150px;
    text-align: center;
}